[package]
name = "polars_bio"
version = "0.20.1"
edition = "2021"

[lib]
name = "polars_bio"
crate-type= ["cdylib"]




[dependencies]
datafusion-python = "50.1.0"
pyo3 = { version = "0.25.1", features = ["extension-module", "abi3"] }
pyo3-log = "0.12.4"
sequila-core = { git = "https://github.com/biodatageeks/sequila-native.git", rev = "32a09303624bcb7e03c2e0150e24a97325be430f" }

datafusion = { version = "50.3.0"}
arrow = "56.1.0"
arrow-schema = "56.1.0"
arrow-array = { version = "56.1.0", features = ["ffi"] }
tokio = {version = "1.42.0", features = ["full", "tracing"]}
log = "0.4.22"
tracing = { version = "0.1.41", features = ["log"] }
futures-util = "0.3.31"

datafusion-bio-format-vcf = { git = "https://github.com/biodatageeks/datafusion-bio-formats.git", rev = "126a6f77506546dd3ad05c4ef5a294f91dbba8f9" }
datafusion-bio-format-core = { git = "https://github.com/biodatageeks/datafusion-bio-formats.git", rev = "126a6f77506546dd3ad05c4ef5a294f91dbba8f9" }
datafusion-bio-format-gff = { git = "https://github.com/biodatageeks/datafusion-bio-formats.git", rev = "126a6f77506546dd3ad05c4ef5a294f91dbba8f9" }
datafusion-bio-format-fastq = { git = "https://github.com/biodatageeks/datafusion-bio-formats.git", rev = "126a6f77506546dd3ad05c4ef5a294f91dbba8f9" }
datafusion-bio-format-bam = { git = "https://github.com/biodatageeks/datafusion-bio-formats.git", rev = "126a6f77506546dd3ad05c4ef5a294f91dbba8f9" }
datafusion-bio-format-cram = { git = "https://github.com/biodatageeks/datafusion-bio-formats.git", rev = "126a6f77506546dd3ad05c4ef5a294f91dbba8f9" }
datafusion-bio-format-bed = { git = "https://github.com/biodatageeks/datafusion-bio-formats.git", rev = "126a6f77506546dd3ad05c4ef5a294f91dbba8f9" }
datafusion-bio-format-fasta = { git = "https://github.com/biodatageeks/datafusion-bio-formats.git", rev = "126a6f77506546dd3ad05c4ef5a294f91dbba8f9" }


async-trait = "0.1.86"
futures = "0.3.31"
coitrees = "0.4.0"
fnv = "1.0.7"
rand = "0.8.5"
serde_json = "1.0"
