[package]
name = "polars_bio"
version = "0.11.0"
edition = "2021"

[lib]
name = "polars_bio"
crate-type= ["cdylib"]




[dependencies]
datafusion-python = { git = "https://github.com/apache/datafusion-python.git", tag = "43.1.0"}
pyo3 = { version = "0.22.6", features = ["extension-module"] }
pyo3-log = "0.11"
sequila-core = { git = "https://github.com/biodatageeks/sequila-native.git", rev = "43453dca320cc25a02f440850e3b947b813785c3" }

datafusion = { version = "43.0.0"}
arrow = "53.4.1"
arrow-schema = "53.4.1"
arrow-array = { version = "53.4.1", features = ["ffi"] }
tokio = {version = "1.42.0", features = ["full", "tracing"]}
log = "0.4.22"
tracing = { version = "0.1.41", features = ["log"] }
futures-util = "0.3.31"



polars = { git = "https://github.com/pola-rs/polars.git", tag = "rs-0.45.0.1", features = ["dtype-full"] }
polars-plan = { git = "https://github.com/pola-rs/polars.git", tag = "rs-0.45.0.1", features = ["parquet", "cloud", "serde"] }
polars-lazy = { git = "https://github.com/pola-rs/polars.git", tag = "rs-0.45.0.1", features = ["parquet", "csv", "cse", "dtype-full"] }
polars-core = { git = "https://github.com/pola-rs/polars.git", tag = "rs-0.45.0.1" }
polars-arrow = { git = "https://github.com/pola-rs/polars.git", tag = "rs-0.45.0.1" }
polars-python = { git = "https://github.com/pola-rs/polars.git", tag = "rs-0.45.0.1" }

#exon ="0.32.4"
exon = { git = "https://github.com/mwiewior/exon.git", rev="d134d923e6c592a9972d93215a12c759c70a7ed5"}
datafusion-bio-format-vcf = { git =  "https://github.com/biodatageeks/datafusion-bio-formats.git", rev = "27657a1c7cfd4c57bf054359505a8ff603c2785e"}
datafusion-bio-format-core = { git = "https://github.com/biodatageeks/datafusion-bio-formats.git", rev = "27657a1c7cfd4c57bf054359505a8ff603c2785e"}
datafusion-bio-format-gff = { git =  "https://github.com/biodatageeks/datafusion-bio-formats.git", rev = "27657a1c7cfd4c57bf054359505a8ff603c2785e"}
datafusion-bio-format-fastq = { git =  "https://github.com/biodatageeks/datafusion-bio-formats.git", rev = "27657a1c7cfd4c57bf054359505a8ff603c2785e"}
datafusion-bio-format-bam = { git =  "https://github.com/biodatageeks/datafusion-bio-formats.git", rev = "27657a1c7cfd4c57bf054359505a8ff603c2785e"}
datafusion-bio-format-bed = { git =  "https://github.com/biodatageeks/datafusion-bio-formats.git", rev = "27657a1c7cfd4c57bf054359505a8ff603c2785e"}

async-trait = "0.1.86"
futures = "0.3.31"
coitrees = "0.4.0"
fnv = "1.0.7"
rand = "0.8.5"
